<table id='project-breakdown'>
<tbody>
  <%= @project_windows.each do |project_window| %>
    <tr>
      <td><%= project_window.name %></td>
      <% project_window.hours_by_day |hours| %>
        <td><%= hours %></td>
      <% end %> 
    </tr>
  <% end %>
</tbody>
</table>
